@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Fonts */
  --font-display: "GeistSans", "sans-serif";

  /* Colors */
  --color-primary: #001d21;
  --color-primary-foreground: #ffff;

  --color-secondary: #ffff;
  --color-secondary-foreground: var(--color-primary);

  --color-muted: #6a7282;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Container */
  /* --container-7xl: 90rem; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f7;
    --foreground: #171717;
  }
}

html,
body {
  @apply scroll-smooth selection:bg-primary-foreground selection:text-primary;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}
