@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Fonts */
  --font-display: "GeistSans", "sans-serif";

  /* Colors */
  --color-primary: #001d21;
  --color-primary-foreground: #ffff;
  --color-primary-muted: #99a1af;

  --color-secondary: #ffff;
  --color-secondary-foreground: var(--color-primary);
  --color-secondary-muted: #6a7282;

  --color-accent: #cdcbff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Container */
  /* --container-7xl: 90rem; */

  /* Embla Slider */
  --embla-slide-spacing: 1.5rem;
  --embla-slide-size-full: 100%;
  --embla-slide-size-sm: 33%;
  --embla-slide-size-md: 45%;
  --embla-slide-size-lg: 65%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f9f7;
    --foreground: #171717;
  }
}

html,
body {
  @apply scroll-smooth selection:bg-primary-foreground selection:text-primary;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

/* Embla Slider */
.embla__viewport {
  @apply overflow-visible;
}

.embla__container {
  @apply flex touch-pan-y gap-(--embla-slide-spacing);
}

.embla__slide {
  @apply transform-cpu min-w-0 flex-[0_0_var(--embla-slide-size-full)] sm:flex-[0_0_var(--embla-slide-size-lg)] md:flex-[0_0_var(--embla-slide-size-md)] lg:flex-[0_0_var(--embla-slide-size-sm)];
}
